@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400);
header {
    position: relative;
}

header nav {
    font-size: 120%;
    position: absolute;
    right: 0;
    top: 20px;
}

header nav ul {
    padding: 0;
    margin: 0;
}

header nav li {
    display: inline-block;
    margin: 0 0.5em;
    vertical-align: middle;
}

header a {
    color: inherit;
}

body {
    font: normal 100% Ubuntu, sans-serif;
    margin: 0;
    color: #555;
    line-height: 120%;
}

body > * {
    width: 790px;
    padding: 10px;
    margin: 20px auto;
    font-weight: 300;
}

a {
    color: #674172;
    text-decoration: none;
}

a:hover {
    color: #BE90D4;
    text-decoration: none;
}

h1 a {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 300;
    /*font-size: 1.5em;*/
}

ul {
    list-style-type: disc;
    padding: 0 1em;
    font-weight: 300;
}

.circular {
  border-radius: 50%;
}

.glyphicon {
    font-size: 2em;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

.card {
    padding-bottom: 10px;
}

.figure {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.figure img {
    flex-shrink:0;
    min-width:100%;
    max-height:200px;
}

.fill {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
}

.fill img {
    flex-shrink:0;
    min-width:100%;
    max-height:200px;
}

.btn {
    font: normal 100% Ubuntu, sans-serif;
    background-color:#2980b9;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    text-decoration:none;
    width: 100px;
    height: 50px;
}
.btn:hover {
    background-color:#3498db;
}
.btn:focus {outline:0;}
.btn:active {background-color: #6bb9f0;}

#container {
    height: 400px; 
    min-width: 310px; 
    max-width: 800px;
    margin: 0 auto;
}

@media only screen and (min-device-width: 200px) and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 2){
    span {
        font-size: 2em;
    }
}
