.canvas-container {
  position: relative;
  display: inline-block;
  width: 150px;  /* must be same as canvas width */
  height: 150px; /* must be same as canvas width */
}

#canvas-overlay {
  /* width: set to be the same as canvas width by react */
  /* height: set to be the same as canvas width by react */
  border: solid 1px brown;
  /*background: blue;*/
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 1;   /* make sure it's on top of canvas */

  mask-image: url('http://i.imgur.com/ESjdWuj.png');
  mask-repeat: no-repeat;
  mask-size: 150px;

  /* comment out to show */
  display: none;
}

#canvas-hidden-bg {
  /* width: set to be the same as canvas width by react */
  /* height: set to be the same as canvas width by react */
  border: solid 1px brown;
  /*background: blue;*/
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: -1;   /* make sure it's below canvas */

  mask-repeat: no-repeat;
  mask-size: 150px;

  /* comment out to show */
  display: none;
}

canvas {
  border: 1px solid black;
  position: absolute;
  top: 0px;
  bottom: 0px;
}

.background-overlay {
  /* width: set to be the same as canvas width by react */
  /* height: set to be the same as canvas width by react */
  background:rgba(0,0,0,0.7);
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: -1;
}


#canvas-background {
  /* width: set to be the same as canvas width by react */
  /* height: set to be the same as canvas width by react */
  border: solid 1px brown;
  background: black;
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: -2;
}

.home-button {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  z-index: 10;
}

.message2 {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 200px;
  color: #D9D9D9;
  opacity: 0.8;
}