.canvas-container {
  position: relative;
  display: inline-block;
  width: 150px;  /* must be same as canvas width */
  height: 150px; /* must be same as canvas width */
}

#canvas-overlay {
  /* width: set to be the same as canvas width by react */
  /* height: set to be the same as canvas width by react */
  border: solid 1px brown;
  /*background: blue;*/
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 1;   /* make sure it's on top of canvas */

  mask-image: url('http://i.imgur.com/ESjdWuj.png');
  mask-repeat: no-repeat;
  mask-size: 150px;

  /* comment out to show */
  /*display: none;*/
}

canvas {
  border: 1px solid black;
  position: absolute;
  top: 0px;
  bottom: 0px;
}

#canvas-background {
  width: 150px;  /* must be same as canvas width */
  height: 150px; /* must be same as canvas width */
  border: solid 1px brown;
  background: black;
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: -1;
}
